<!-- Stats -->
<div class="stats">
  <div class="container">
    <div class="stats-info">
      <div class="col-md-4 col-sm-4 stats-grid slideanim">
        <i class="fa fa-calendar-o"></i>
        <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='18000' data-delay='.5' data-increment="50">+30</div>
        <p class="stats-info">años de experiencia</p>
      </div>
      <div class="col-md-4 col-sm-4 stats-grid slideanim">
        <i class="fa fa-assistive-listening-systems"></i>
        <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='1700' data-delay='.5' data-increment="5">+150</div>
        <p class="stats-info">jornadas de salud auditiva</p>
      </div>
      <div class="col-md-4 col-sm-4 stats-grid slideanim">
        <i class="fa fa-smile-o"></i>
        <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='21500' data-delay='.5' data-increment="20">+21500</div>
        <p class="stats-info">pacientes felices</p>
      </div>
      <div class="clearfix"></div>
    </div>

  </div>
</div>
<!-- //Stats -->
