<header>
  <div class="container-fluid hidden-xs logo">
    <a href="{{ "/" | prepend: site.baseurl }}"><img class="img-responsive" src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}" />
    </a>
    <p class="nombre">Centro audiológico y terapéutico del huila</p>
    <p class="eslogan">oír mejor es vivir mejor</p>
  </div>
  <div class="navbar-wrapper">
    <div class="container-fluid">
      <nav class="navbar navbar-static-top">
        <div class="navbar-header">
          <a class="navbar-brand visible-xs" href="{{ "/" | prepend: site.baseurl }}"><img class="img-responsive" src="{{ site.logo-xs | prepend: site.baseurl }}" alt="{{ site.title }}" />
          </a>
          <span class="nombre visible-xs">Centro audiológico</br>y terapéutico del huila</span>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-center navbar-nav">
            <li {% if page.title == 'Inicio' %}class="current_page"{% endif %}><a href="{{ '/' | prepend: site.baseurl }}">inicio</a>
            <li {% if page.title == 'DRA. ALINA MARGARITA DIAZ STERLING' %}class="current_page"{% endif %}><a href="{{ 'nosotros' | prepend: site.baseurl }}">DRA. ALINA MARGARITA DIAZ STERLING</a>
              <li class="dropdown {% if page.servicio %}current_page{% endif %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">servicios <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ 'examenes' | prepend: site.baseurl }}">Exámenes auditivos</a></li>
                <li><a href="{{ 'audifonos' | prepend: site.baseurl }}">PRUEBA, SELECCIÓN Y ADAPTACIÓN DE AUDÍFONOS</a></li>
                <li><a href="{{ 'proteccion' | prepend: site.baseurl }}">PROTECCIÓN AUDITIVA</a></li>
              </ul>
            </li>
            <li {% if page.title == 'Contacto' %}class="current_page"{% endif %}><a href="{{ 'contacto' | prepend: site.baseurl }}">contacto</a>
            <li class="visible-xs">
              <p class="eslogan">oír mejor es vivir mejor</p>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
