<!-- footer -->
<footer>
  <div class="footer-grids">
    <div class="container">
      <div class="col-md-4 footer one">
        <h3>CENAUDIO</h3>
        <p>En Cenaudio somos especialistas en productos y servicios para la salud auditiva. Brindamos asesoría y acompañamiento a las personas que presentan algún grado de sordera, buscando una óptima solución para mejorar su calidad de vida.</p>
        <p class="adam">- Alina M. Díaz Stérling</p>
        <div class="clear"></div>
      </div>
      <div class="col-md-4 footer two">
        <h3>Facebook</h3>
        {% include pagina-facebook.html %}
      </div>
      <div class="col-md-4 footer three">
        <h3>Información de Contacto</h3>
        <ul>
          <li><i class="fa fa-map-marker"></i><p>Centro Audiológico y Terapéutico del Huila <span>Cra. 9 No 16-16</span>Neiva (Huila). </p> <div class="clearfix"></div></li>
          <li><i class="fa fa-phone"></i><p>8743838 - 8745788 - 318 2855000</p> <div class="clearfix"></div></li>
          <li><i class="fa fa-envelope-o"></i><a href="mailto:contacto@cenaudio.com.co">contacto@cenaudio.com.co</a><div class="clearfix"></div></li>
          <li><i class="fa fa-facebook"></i><a href="">Síguenos en Facebook</a> <div class="clearfix"></div></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copy-right-grids">
    <div class="container">
        <p class="footer-gd">© Diseñado por <a href="http://www.horminka.org" target="_blank">HorMinka</a> & <a href="https://w3layouts.com/" target="_blank">W3layouts</a></p>
      </div>
    </div>
  </div>
</footer>
<!-- //footer -->
