<!-- Swiper -->
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide cover" style="background-image: url({{ "/assets/slide-1.jpg" | prepend: site.baseurl }})">
      <h1>La mejor experiencia y calidad humana a su servicio</h1>
    </div>
    <div class="swiper-slide cover" style="background-image: url({{ "/assets/slide-2.jpg" | prepend: site.baseurl }})">
      <h1>Regale a su ser querido la oportunidad de volver a oír los mejores sonidos de la vida</h1>
    </div>
    <div class="swiper-slide cover" style="background-image: url({{ "/assets/slide-3.jpg" | prepend: site.baseurl }})">
      <h1>Oír mejor es vivir mejor</h1>
    </div>
  </div>

  <!-- Add Pagination -->
  <div class="swiper-pagination swiper-pagination-white"></div>

  <!-- Add Arrows -->
  <div class="swiper-button-next swiper-button-white"></div>
  <div class="swiper-button-prev swiper-button-white"></div>
</div>


